.hero {
  background-image: url("../assets/5.jpg");
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  padding-bottom: 50px;
  .title {
    padding-top: 100px;
    letter-spacing: 3px;
  }
  .paragraph {
    padding: 20px;
  }
  #myName{
    font-weight: 800px;
  }

  .photo {
    a:focus {
      outline: none;
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: inline-block;
    }
  }
  img {
    max-width: 100%;
  }
  #my_photo {
    width: 400px;
    height: 500px;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .hero-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    h4 {
      text-transform: uppercase;
      font-size: 22px;
      padding-bottom: 4px;
    }
    h2 {
      font-size: 50px;
      @media (min-width: 550px) {
        font-size: 80px;
      }
    }
    hr:nth-child(2) {
      max-width: 365px;
      margin-bottom: 16px;
    }
    hr:nth-child(4) {
      height: 6px;
      background-color: #fff;
      border: none;
      max-width: 85px;
      margin-top: 16px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .hero {
    height: 100%;
  }
}
